.item {
  width: 290px;
  background-color: #fff;
  margin: 10px auto;
  align-items: center;
  border-radius: 4px;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.onLine {
  display: block;
  width: 30px;
  height: 30px;
  background-color: green;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.offLine {
  display: block;
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.avatar {
  margin: 0 auto;
}
