.transactionTable {
  width: 320px;
  border: 1px solid black;
  margin: 10px auto;

  text-align: center;
  background-color: #fcf9f9;
  border: 2px solid black;
  text-transform: capitalize;

  border-collapse: collapse;
}

.tr {
  border: 1px solid black;
  background-color: rgb(80, 97, 253);
}
